<ion-toolbar>
<!-- <div class="flexExpand2"> -->

<ion-img 
  class="ion-margin-horizontal"
  slot="start" 
  style="width: 50px; height: 50px;" 
  src="./assets/busecommunity50.png"></ion-img>

<ion-buttons >

  <ion-tab-button
  (click)="signIn()"
  *ngIf="(afAuth.authState | async) === null"
  tab="menuforcommunity"
  fill="none"
  slot="right"
  >
  <ion-icon style="color: orangered;"  name="logo-google"></ion-icon>
  <ion-label>Sign In</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="home"
  *ngIf="afAuth.user | async as user"
  tab="menuforcommunity"
  >
  <ion-avatar
  style="
                  width: inherit;
                  height: 42px;
                  max-height: 42px;
                  max-width: 42px;"
                  >
                  <ion-img [src]="user.photoURL"></ion-img>
                </ion-avatar>
  </ion-tab-button>

  <ion-button>
    <ion-icon slot="icon-only" name="notifications" color="light"></ion-icon>
  </ion-button>
</ion-buttons>
<!-- </div> -->

</ion-toolbar>
