<ion-toolbar>

<ion-img 
  slot="start" 
  style="width: 50px; height: 50px;" 
  src="./assets/busecommunity.svg"></ion-img>


  <ion-button
  (click)="clickFacebook()"
  onclick=''
  slot="end" 
  size="small" 
  shape="round"
  fill="none" >
  <ion-icon  
  color="primary"
  name="logo-facebook" ></ion-icon>
</ion-button>

  <ion-button 
    (click)="clickWhatsapp()"
    slot="end" 
    size="small" 
    shape="round"
    fill="none">
    <ion-icon  
    color="primary"
    name="logo-whatsapp" ></ion-icon>
  </ion-button>
  
  <ion-button
    (click)="clickLinkedIn()"
   slot="end" 
   size="small" 
   shape="round"
   fill="none">
   <ion-icon  
   color="primary"
    name="logo-linkedin" ></ion-icon>
  </ion-button>  
</ion-toolbar>
