<form 
[formGroup]="form"
*ngIf="afAuth.user | async as user; else signintemplate"
>
        <ion-toolbar>
                        <ion-button (click)="guestPost(user.uid)" slot="start" fill="solid" shape="round">
                                Post
                        </ion-button>   
                
                        <ion-button (click)="closeMenu()" slot="end" fill="clear" size="small" shape="round">
                                <ion-icon slot="icon-only" name="close"></ion-icon>
                        </ion-button>

        </ion-toolbar>

    <ion-grid>
            <ion-row>
                        <ion-col size="2">
                        <ion-avatar
                                style="width: inherit;
                                        height: 42px;
                                        max-height: 42px;
                                        max-width: 42px;"
                                        >
                      
                      <img #kudu [src]="user.photoURL" />
                    </ion-avatar>
                    </ion-col>
                    <ion-col size="10">

                            <ion-textarea
                             formControlName="title"
                             rows="12"
                             placeholder="Type Something here......"></ion-textarea>
                             <ion-item
                              *ngIf="title.invalid">
                                <ion-text color="danger">
                                        <p>Please fill the filled</p>
                                </ion-text>
                             </ion-item>
                        </ion-col>
                </ion-row>
        </ion-grid>
</form>

<ng-template #signintemplate>
        <div
        style="display: block;"
                class="ion-text-center"
        >
                <ion-button (click)="signIn()" class="ion-text-capitalize" slot="start" fill="solid" shape="round">
                        Sign In<br>
                        to post
                </ion-button>
        </div>
</ng-template>