<form 
        [formGroup]="form"
>
<ion-toolbar>
        <div *ngIf="afAuth.user | async as user">

                <ion-button (click)="guestPost(user.uid)" slot="start" fill="solid" shape="round">
                        Post
                </ion-button>
        </div>
        <ion-button (click)="closeMenu()" slot="end" fill="clear" size="small" shape="round">
        <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

</ion-toolbar>

    <ion-grid>
            <ion-row>
                    <ion-col size="2">
                            <ion-avatar>
                            <ion-skeleton-text animated
                            style="width: auto; max-height: 50px;
                            max-width: 50px;">
                        </ion-skeleton-text>
                </ion-avatar>
                    </ion-col>
                    <ion-col size="10">

                            <ion-textarea
                             formControlName="title"
                             rows="12"
                             placeholder="Type Something here......"></ion-textarea>
                             <ion-item
                              *ngIf="title.invalid">
                                <ion-text color="danger">
                                        <h1>Please fill the filled</h1>
                                </ion-text>
                             </ion-item>
                        </ion-col>
            </ion-row>
        </ion-grid>

</form>
