<ion-header>
  <ion-toolbar>
    <ion-title>Registered houses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-text class="ion-text-left" >
    <h1>Places</h1>
  </ion-text>
 
  <a href="houses#LightIndustry">
    <ion-chip color="primary" mode="ios" outline="true">
      <ion-label>Light Industry</ion-label>
    </ion-chip>
  </a>


  <a href="houses#Shashi" >
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-label>Shashi View</ion-label>
  </ion-chip>
  </a>

  <a href="houses#Chiwaridzo">
    <ion-chip color="primary" mode="ios" outline="true">
      <ion-label>Chiwaridzo</ion-label>
    </ion-chip>
  </a>

  <a href="houses#Aerodrome">
    <ion-chip color="primary" mode="ios" outline="true">
      <ion-label>Aerodrome</ion-label>
    </ion-chip>
  </a>

  <a href="houses#Clusters">
    <ion-chip color="primary" mode="ios" outline="true">
      <ion-label>Clusters and Town Centre</ion-label>
    </ion-chip>
  </a>


  <ion-list>
    <ion-list-header id="LightIndustry">
      <h1>
        Light Industry
      </h1>
    </ion-list-header>
    <ion-item-group>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item *ngFor="let item of lightIndustry.slice(0, lightMax),  index as i" >
              

                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12">
                        <ion-text  color="primary" style="height: auto;" >
                          <h1 style="height: auto;">
                            <ion-icon name="locate"></ion-icon>                
                            {{item.location}}   
                      </h1> 
                      </ion-text>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label color="primary">                  
                          <p>

                            <ion-icon name="person"></ion-icon>
                        <b>
                          {{item.nameOfOwner}}
                        </b>
                          </p>
                        <p>
                          <ion-icon name="call"></ion-icon>
                            {{item.contact}}
                        </p>
                        
                        <ion-button (click)="contactHouse(item.contact)" >
                          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
                          Whatsapp
                        </ion-button>




                       
                        <p>
                          <ion-icon name="people"></ion-icon>
                          {{item.noOfPeople}}
                        
                        </p>
                        <p>
                          Sex:
                          {{item.sex}}
                        </p>
                        <p>
                          Charge
                          {{item.charge}}
                        </p>
                      </ion-label>          
                                      
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-item>            
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-group>
    <div style="text-align:center;" >

      <ion-button (click)="showMorelight()">
        <ion-icon slot="start" name="add"></ion-icon>
        <span>
          Show more <br> Light Industry 
        </span>
      </ion-button>
    </div>
  </ion-list>      

  <ion-list>
    <ion-list-header>
      <h1 id="Shashi">
        Shashi View
      </h1>
    </ion-list-header>
    <ion-item-group>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
      <ion-item *ngFor="let item of shashiView.slice(0, shashiMax),  index as i" >
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
                <ion-text  color="primary" style="height: auto;" >
                  <h1 style="height: auto;">
                    <ion-icon name="locate"></ion-icon>                
                    {{item.location}}   
              </h1> 
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-label color="primary">                  
                  <p>

                    <ion-icon name="person"></ion-icon>
                <b>
                  {{item.nameOfOwner}}
                </b>
                  </p>
                <p>
                  <ion-icon name="call"></ion-icon>
                    {{item.contact}}
                </p>
                        
                <ion-button (click)="contactHouse(item.contact)" >
                          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
                          Whatsapp
                        </ion-button>

                <p >
                  <ion-icon name="people"></ion-icon>
                  {{item.noOfPeople}}
                
                </p>
                <p>
                  Sex:
                  {{item.sex}}
                </p>
                <p>
                  Charge
                  {{item.charge}}
                </p>
              </ion-label>          
                              
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>            
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-group>
    <div style="text-align:center;" >

      <ion-button (click)="showMoreShashiView()" >
        <ion-icon slot="start" name="add"></ion-icon>
        Show more <br> Shashi View
      </ion-button>
    </div>
  </ion-list>


  <ion-list>
    <ion-list-header>
      <h1 id="Chiwaridzo">
        Chiwaridzo
      </h1>
    </ion-list-header>
    <ion-item-group>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item *ngFor="let item of chiwaridzo.slice(0, chiwaridzoMax),  index as i" >
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                      <ion-text  color="primary" style="height: auto;" >
                        <h1 style="height: auto;">
                          <ion-icon name="locate"></ion-icon>                
                          {{item.location}}   
                    </h1> 
                    </ion-text>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label color="primary">                  
                        <p>

                          <ion-icon name="person"></ion-icon>
                      <b>
                        {{item.nameOfOwner}}
                      </b>
                        </p>
                      <p>
                        <ion-icon name="call"></ion-icon>
                          {{item.contact}}
                      </p>
                        
                      <ion-button (click)="contactHouse(item.contact)" >
                          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
                          Whatsapp
                        </ion-button>

                      <p>
                        <ion-icon name="people"></ion-icon>
                        {{item.noOfPeople}}
                      
                      </p>
                      <p>
                        Sex:
                        {{item.sex}}
                      </p>
                      <p>
                        Charge
                        {{item.charge}}
                      </p>
                    </ion-label>          
                                    
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>            
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-group>
    <div style="text-align:center;" >

      <ion-button (click)="showMoreChiwaridzo()" >
        <ion-icon slot="start" name="add"></ion-icon>
        Show more <br> Chiwaridzo
      </ion-button>
    </div>
  </ion-list>


  <ion-list>
    <ion-list-header>
      <h1 id="Aerodrome">
        Aerodrome
      </h1>
    </ion-list-header>
    <ion-item-group>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item *ngFor="let item of aerodrome.slice(0, aerodromeMax),  index as i" >
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                      <ion-text  color="primary" style="height: auto;" >
                        <h1 style="height: auto;">
                          <ion-icon name="locate"></ion-icon>                
                          {{item.location}}   
                    </h1> 
                    </ion-text>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label color="primary">                  
                        <p>

                          <ion-icon name="person"></ion-icon>
                      <b>
                        {{item.nameOfOwner}}
                      </b>
                        </p>
                      <p>
                        <ion-icon name="call"></ion-icon>
                          {{item.contact}}
                      </p>
                        
                      <ion-button (click)="contactHouse(item.contact)" >
                          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
                          Whatsapp
                        </ion-button>

                      <p>
                        <ion-icon name="people"></ion-icon>
                        {{item.noOfPeople}}
                      
                      </p>
                      <p>
                        Sex:
                        {{item.sex}}
                      </p>
                      <p>
                        Charge
                        {{item.charge}}
                      </p>
                    </ion-label>          
                                    
                  </ion-col>
                </ion-row>
              </ion-grid>              
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-group>
    <div style="text-align:center;" >

      <ion-button (click)="showMoreAerodrome()" >
        <ion-icon slot="start" name="add"></ion-icon>
        Show more <br> Aerodrome
      </ion-button>
    </div>
  </ion-list>


  <ion-list>
    <ion-list-header>
      <h1 id="Clusters">
        Clusters and Town Centre
      </h1>
    </ion-list-header>
    <ion-item-group>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
      <ion-item *ngFor="let item of clustersAndTownCenter.slice(0, clustersMax),  index as i" >
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
                <ion-text  color="primary" style="height: auto;" >
                  <h1 style="height: auto;">
                    <ion-icon name="locate"></ion-icon>                
                    {{item.location}}   
              </h1> 
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-label color="primary">                  
                  <p>

                    <ion-icon name="person"></ion-icon>
                <b>
                  {{item.nameOfOwner}}
                </b>
                  </p>
                <p>
                  <ion-icon name="call"></ion-icon>
                    {{item.contact}}
                </p>
                        
                <ion-button (click)="contactHouse(item.contact)" >
                          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
                          Whatsapp
                        </ion-button>

                <p>
                  <ion-icon name="people"></ion-icon>
                  {{item.noOfPeople}}
                
                </p>
                <p>
                  Sex:
                  {{item.sex}}
                </p>
                <p>
                  Charge
                  {{item.charge}}
                </p>
              </ion-label>          
                              
            </ion-col>
          </ion-row>
        </ion-grid>        
      </ion-item>            
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-group>
    <div style="text-align:center;" >

      <ion-button (click)="showMoreClustersAndTownCenter()" >
        <ion-icon slot="start" name="add"></ion-icon>
        More Clusters and <br> Town Centre
      </ion-button>
    </div>
  </ion-list>

  </ion-content>