<ion-content [fullscreen]="false">
  


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-progress-bar type="indeterminate" value="0.42" buffer="0.5" reversed="true" color="primary"></ion-progress-bar>
            <ion-card-title>Updating</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Be right back!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-menu contentId="menu-content" menuId="menu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Awesome avocado menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      Awesome avocado content
    </ion-content>
  </ion-menu>


  <ion-list>

  <ion-item 
    #dada 
    id="itemhovered" 
    tab="stories-preview"  
    *ngFor="let item of items"
    (click)="hi2(dada)"
    tab="about"
    >
    <ion-label (click)="openMenu();">
      <div align="center">    
      <ion-segment-button tab="home" >
      <ion-img id="story_main_img" style="height: 100%; width: 100%;" 
      src="https://static.wixstatic.com/media/e8586c_d9bec1bf928644e1a22c318c5e6c9d39~mv2.jpeg/v1/fill/w_615,h_632,al_c,q_85/e8586c_d9bec1bf928644e1a22c318c5e6c9d39~mv2.webp"
      alt=""></ion-img>
      </ion-segment-button>
    
      <h1>Title</h1>
      <p>Subtitle</p> 

      <p color="primary">@user</p>    
   </div>
    </ion-label>     


   </ion-item>  

  </ion-list> -->

</ion-content>
