<ion-refresher slot="fixed" (ionRefresh)="refreshStories($event)" pullFactor="0.8" pullMin="60" pullMax="120">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-item class="ion-no-margin ion-no-padding">
<ion-grid size="6">
  <ion-row>
    <ion-col  sizeSm="12" sizeMd="8" sizeXs="12">
  <div *ngIf="stories$ | async; else loading"    >
    <div  *ngFor="let item of stories$ | async" >
<div style="margin-left: 0px; margin-right: 0px;">
  
    <ion-row style="border-bottom: 1px solid rgb(209, 209, 209);">
      <ion-col size="2">
        <ion-row style="height: 100%;" > 
          <div style="display: block ruby; width: 100%;" class="ion-text-right">
            
            <ion-avatar
            style="width: inherit;
            height: 42px;
            max-height: 42px;
            max-width: 42px;"
          (click)="showAvatar(kudu)"
          >
          
          <img #kudu src="./assets/IMG-20211129-WA0005.jpg" />
        </ion-avatar>
      </div>   
      <div style="display: block ruby; width: 100%;" class="ion-text-center">
        
      </div> 
      
    </ion-row>
  </ion-col>
  
  <ion-col size="10">
    <ion-label>
      <div>
        <b>
          Danver Kanyemba
        </b>

      </div>

      <ion-text color="primary">
        <p>Developer</p>
      </ion-text>

      
    </ion-label>
    <ion-label>
      <ion-text>
        <p class="ion-text-left">
          {{item.date_posted}}
        </p>
      </ion-text>
      
    </ion-label>
    <ion-text color="dark" class="ion-text-start">
      <p>
        {{item.detail.title}} 
        <ion-button 
        [hidden]="item.join_via_whatsapp !==''"
        (click)="joinWhatsapp(item.join_via_whatsapp)"
        fill="outline"
        color="primary"
        >
        Join via
        <ion-icon name="whatsapp"></ion-icon>
        </ion-button>
      </p>
    </ion-text>

   
      {{item.images|getDownloadURL}}
    <ion-label
    style="
      border-radius: 20px; 
      width: 100%; 
      max-width: 400px;
      background-image: url('{{item.detail.imageonly | getDownloadURL}}');
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      "
      #imageOnly
      *ngIf="item.type ==='imageonly'" 
      >
      {{item}}
      <ion-segment-button 
      style="
  height: 300px;
  width: 100%; 
  max-width: 400px;
  "
  (click)="linkPicture(imageOnly)"
  >
  
</ion-segment-button>

    </ion-label>
  
<div class="ion-text-center" style="max-width: 359px;">

  <ion-button fill="none" (click)="presentActionSheet()">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>
  <ion-button style="margin-left: 10%;" class="ion-padding-horizontal" fill="none" (click)="presentActionSheet()">
    <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
  </ion-button>
  <div>
  </div>
</div>

</ion-col>
</ion-row>

</div>

</div>

</div>      
    </ion-col>

    <ion-col sizeSm="12" sizeMd="4" sizeXs="12">
      <ion-card>
        <ion-header>
          <ion-toolbar>
            <ion-title>Sponsored</ion-title>

          </ion-toolbar>
        </ion-header>
        <ion-card-content>
          <ion-button 
              onclick="window.open('https://my.webdev.co.zw/aff.php?aff=328')"
             expand="block" fill="none" shape="round">
              Web Development
            </ion-button>
            <ion-button 
            onclick="window.open('https://my.webdev.co.zw/aff.php?aff=328')"
           expand="block" fill="none" shape="round">
            Domain registration
          </ion-button>
          <ion-button 
          onclick="window.open('https://my.webdev.co.zw/aff.php?aff=328')"
         expand="block" fill="none" shape="round">
          Web Hosting
        </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-item>

  <ng-template #loading>
    <div style="display: flex; justify-content: center;">

      <div class="loadingBox"></div>
  
    </div>
  </ng-template>