<ion-app>
        <ion-menu color="dark" contentId="piz" menuId="piz" side="start" type="overlay">

                    <ion-content>
                <app-post-on-main></app-post-on-main>
                    </ion-content>
        </ion-menu>
        <ion-router-outlet id="piz"></ion-router-outlet>

        <ion-tabs>
                <ion-tab-bar slot="bottom" color="dark">
                        <ion-tab-button tab="home">
                                <ion-img style="width: 50px; height: 50px;" src="./assets/busecommunity.svg"></ion-img>
                        </ion-tab-button>

                        <ion-tab-button tab="search">
                                <ion-icon name="search"></ion-icon>
                                <ion-label>Search</ion-label>
                        </ion-tab-button>

        
                        <ion-tab-button tab="menuforcommunity">
                                <ion-icon name="menu"></ion-icon>
                        </ion-tab-button>

                </ion-tab-bar>
        </ion-tabs>
</ion-app>
