<ion-app>
        <ion-menu contentId="piz" menuId="piz" side="start" type="overlay">
                <ion-content>
                        <app-post-on-main></app-post-on-main>
                </ion-content>
        </ion-menu>
        <ion-router-outlet id="piz"></ion-router-outlet>

        <ion-menu color="dark" contentId="imagePost" menuId="imagePost" side="end" type="overlay">
                <ion-content>
                       <app-post-image-click></app-post-image-click>
                </ion-content>
        </ion-menu>

        <ion-router-outlet id="imagePost"></ion-router-outlet>

        <ion-tabs>
                <ion-tab-bar slot="bottom">
                        <ion-tab-button tab="home" class="ion-no-margin ion-no-padding">
                                <ion-icon name="home"></ion-icon>
                                <ion-label>Home</ion-label>
                        </ion-tab-button>

                        <ion-tab-button tab="whatsapp-groups" class="ion-no-margin ion-no-padding">
                                <ion-icon name="logo-whatsapp"></ion-icon>
                                <ion-label>App</ion-label>
                        </ion-tab-button>
                        
                        <ion-tab-button (click)="openMenu()" class="ion-no-margin ion-no-padding">
                                <ion-icon name="add-circle-outline" size="large"></ion-icon>
                        </ion-tab-button>                        
                        
                        <ion-tab-button tab="houses" class="ion-no-margin ion-no-padding">
                                <ion-icon name="storefront"></ion-icon>
                                <ion-label>Houses</ion-label>
                        </ion-tab-button>

                        <ion-tab-button tab="food-info" class="ion-no-margin ion-no-padding">
                                <ion-icon name="fast-food"></ion-icon>
                                <ion-label>Food</ion-label>
                        </ion-tab-button>

                        <ion-tab-button tab="menuforcommunity" class="ion-no-margin ion-no-padding">
                                <ion-icon name="caret-up-circle-outline"></ion-icon>
                        </ion-tab-button>

                </ion-tab-bar>
        </ion-tabs>
</ion-app>
