.card-background-page {
  ion-card {
    position: relative;
    text-align: left;
    background-color: #244fae;
    height: 77px;
    width: 200px;
  }

  ion-card-title {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100px;
    font-size: 1em;
    color: white;
  }
  #card-button {
    position: absolute;
    bottom: 10%;
    width: 100px;
    height: 100px;
    color: white;
  }
}
