.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  div {
    display: inline-block;
  }
  .loadingCircles {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(218, 218, 218);
  }
}
