
    <div class="scrolling-wrapper" *ngIf="groupsCollection$ | async; else groupSlidesTotal">
 <br>
 <div
  class="ion-margin-top"
  *ngFor="let item of groupsCollection$ | async"
  [routerLink]="item.link"
  class="ion-text-center"
 >
 <ion-segment-button class="ion-no-padding ion-no-margin" >
  <ion-icon size="large" [name]="item.icon"></ion-icon>
  <ion-card-title >
    {{item.name}}
    <ion-icon name="lock-closed-outline" *ngIf="item.isLocked === 1"></ion-icon>

  </ion-card-title>
</ion-segment-button>
  </div> 
</div>
<br>

<ng-template #groupSlidesTotal>
  <div class="scrolling-wrapper">
<div class="loadingCircles ion-margin-horizontal"></div>
<div class="loadingCircles ion-margin-horizontal"></div>
<div class="loadingCircles ion-margin-horizontal"></div>
<div class="loadingCircles ion-margin-horizontal"></div>

  </div>
</ng-template>
