
    <div class="scrolling-wrapper" *ngIf="groupsCollection$ | async; else groupSlidesTotal">
 <br>
 <div
  class="ion-margin-top"
  *ngFor="let item of groupsCollection$ | async"
  [routerLink]="item.link"
  class="ion-text-center"
 >
 <ion-segment-button>
  <ion-avatar>
    <img [src]="item.imageurl" />
  </ion-avatar>

  <ion-card-title >
    {{item.name}}
    <ion-icon name="eye-off" *ngIf="item.isLocked === 1; else openeye" ></ion-icon>
    <ng-template #openeye>
      <ion-icon name="eye"></ion-icon>
    </ng-template>
  </ion-card-title>
</ion-segment-button>
  </div> 
</div>
<br>

<ng-template #groupSlidesTotal>
  <div class="ion-text-center">
    <ion-spinner name="circular" color="primary"></ion-spinner>  
  </div>
</ng-template>
