

<ion-slides mode="ios" pager="true" scrollbar="ios" [options]="slideOpts" >

  <ion-slide class=" card-background-page">

  <ion-card 
  *ngFor="let item of groupsCollection" 
  class="ion-no-padding"
  draggable="false"
  [routerLink]="item.link"
 >

    <ion-card-header>
      
      
      <ion-card-title >
        {{item.name}}
        <ion-icon name="eye-off" *ngIf="item.isLocked === 1" ></ion-icon>
        <ion-icon name="eye" *ngIf="item.isLocked === 0" ></ion-icon>
      </ion-card-title>
    </ion-card-header>

  </ion-card>   
  </ion-slide>

</ion-slides>