<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
      <ion-text>
            Discover campus whatsapp groups
    </ion-text>      

  </ion-toolbar>
</ion-header>
<ion-content>

<div class="scrolling-wrapper" >
  <div
  *ngIf="whatsappGroups$ |async; else whatsappGroupLoading" 
  >
  <ion-card *ngFor="let item of whatsappGroups$ |async" class="ion-no-border ion-no-margin" >
    <ion-card-header>
      <ion-img [src]="'whatsappgroups/'+item.imageURL | getDownloadURL "></ion-img>
    <ion-card-title class="ion-text-center">{{item.name}}</ion-card-title>
    <ion-card-subtitle class="ion-text-center">
      {{item.subtitle}}
    </ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content class="ion-text-center">
    <ion-button 
    (click)="clickWhatsapp()"
    slot="end" 
    size="small" 
    shape="round"
    fill="outline"
    >
    Join via admin
    <ion-icon  
    name="logo-whatsapp" ></ion-icon>
  </ion-button>
  </ion-card-content>
</ion-card>
</div>
</div>

<ng-template #whatsappGroupLoading >
  <div class="scrolling-wrapper" >
    <div class="loadingBox" 
    *ngFor="let item of [1,2,3,4,5]"
    ></div>
  </div>
</ng-template>

<ion-text>
  <p>Contact Danver on whatsapp @ +2637 8401 7784 for your group to be added.</p>
</ion-text>
</ion-content>