<ion-content>
  <ion-button
  (click)="signIn()" 
  *ngIf="(afAuth.authState | async) === null"
  expand="block" fill="clear" shape="round">
    Sign In
  </ion-button>
  
  <div
  *ngIf="afAuth.user | async as user"
  >

  <ion-card>
  <ion-header
  >
  <div
  style="display: flex; justify-content: center; align-items: center;" 
     class="ion-text-center">
          
      <ion-avatar
        style="
        width: inherit;
        height: 100px;
        max-height: 100px;
        max-width: 100px;"
        (click)="showAvatar(user.photoURL)"
        >
        <ion-img [src]="user.photoURL"></ion-img>
        </ion-avatar> 
        
        <ion-card-title>
          {{user.displayName}} <br>  
        </ion-card-title>
        <br>
      </div>
        <div style="text-align: center;">

          
          <ion-card-subtitle>
            {{user.email}}    
          </ion-card-subtitle>
          
          <ion-text color="secondary">
            <p>These details can be changed through your email not on this platform</p>
          </ion-text>
        </div>
        <ion-button (click)="signOut()" color="light" expand="block">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Sign out
        </ion-button>
      </ion-header>
      
      </ion-card>
</div>
<app-about></app-about>

</ion-content>
