<ion-header>
  <ion-toolbar>
    <ion-title>insights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="scrolling-wrapper"> 
  
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
dfdfd
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
<ion-avatar class="card" style="width: 250px; height: 250px;">
  <img src="./assets/busecommunity.svg" />
</ion-avatar>
</div>
</ion-content>
