
<ion-content  class="ion-margin-horizontal">
  <app-user-top-toolbar></app-user-top-toolbar>
  <app-groups-slides></app-groups-slides>
  <app-stories></app-stories>

<!-- Buttons -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button
    color="dark">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-grid class="ion-text-right" >
      <ion-row>
        <ion-col size="6" class="ion-padding-top" >
          <ion-text>
            Photos
          </ion-text>  
        </ion-col>
        <ion-col size="6">
          <ion-fab-button
          color="dark"
          >
          <ion-icon name="albums"></ion-icon>
        </ion-fab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-padding-top" >
          <ion-text>
            Post
          </ion-text>  
        </ion-col>
        <ion-col size="6">
          <ion-fab-button
          (click)="openMenu()"
          color="dark"
          >
          <ion-icon name="bonfire"></ion-icon>

          
        </ion-fab-button>
        </ion-col>
      </ion-row>        
    </ion-grid>

  </ion-fab-list>
</ion-fab>
  
</ion-content>