<ion-content  class="ion-margin-horizontal">
  <ion-item-divider>
    <ion-label>
      <app-user-top-toolbar></app-user-top-toolbar>
    </ion-label>
  </ion-item-divider>
  <!-- <app-groups-slides></app-groups-slides> -->

  <app-stories></app-stories>

  <!-- Fab Buttons -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button
    color="dark">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-grid class="ion-text-right" >
      <ion-row>
        <ion-col size="6" class="ion-padding-top" >
          <ion-text>
            Photos
          </ion-text>  
        </ion-col>
        <ion-col size="6">
          <ion-fab-button
          color="dark"
          >
          <ion-icon name="albums"></ion-icon>
        </ion-fab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-padding-top" >
          <ion-text>
            Post
          </ion-text>  
        </ion-col>
        <ion-col size="6">
          <ion-fab-button
          (click)="openMenu()"
          color="dark"
          >
          <ion-icon name="bonfire"></ion-icon>          
        </ion-fab-button>
        </ion-col>
      </ion-row>        
    </ion-grid>

  </ion-fab-list>
</ion-fab>
  
<ion-toolbar class="ion-padding-horizontal">
  <ion-text >
    Download the android app for android 5 or later
    <ion-button 
    color="light"  
    onclick="window.open('https://drive.google.com/file/d/118S7pNUDr2OIasAauJJhVkr3DIssAWuY/view?usp=sharing')">
      <ion-icon name="download"></ion-icon>
      Here
    </ion-button>
    
</ion-text>
</ion-toolbar>

  <ion-toolbar>              
    <ion-title slot="start" class="ion-text-left" onclick="window.open('https://danversoft.co.zw')">
      <ion-img style="width: 50px; height: 50px;" src="./assets/logo.png"></ion-img>
      </ion-title>

      
        <ion-text>
        <p>DanverSoft Copyright 2021-2022</p>
        </ion-text>
  </ion-toolbar>
</ion-content>